.App {
  margin-left: auto;
  margin-right: auto;
}



/* home page */
.col-left,
.col-right {
  border: 1px solid #ccc;
}

.container-custom {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  margin-top: 50px;
}

.container-custom-big {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  margin-top: 50px;
}

.center {
  text-align: center;
}

/* email register page */
.box-title {
  font-size: 24px;
  border-bottom: 1px solid;
  padding: 0 15px;
}

.box-register .box-body {
  padding: 15px 50px 0 50px;
}

.box-body {
  padding: 15px 15px 0 15px;
}

.btn-primary {
  padding: 0 7px;
  height: 25px !important;
  border-color: #434343;
}

.btn-secondary {
  padding: 0 5px;
  height: 20px !important;
  border-color: #434343;
  line-height: 1;
}

.btn-default {
  padding: 0 45px;
}

.txt-primary {
  border-color: #434343;
  height: 25px;
}

.txt-email {
  max-width: 200px;
}

.modal-primary .ant-form-item {
  margin-bottom: 0;
}

.modal-primary .description {
  margin-bottom: 20px;
}

.col-lbl {
  padding-top: 5px;
}

.link {
  color: #434343;
  display: inline-block;
}

.box-register-completion .box-body {
  margin-bottom: 100px;
}

/* header */
.img-user-thumbail {
  max-width: 50px;
}

.header {
  padding: 5px 20px;
  border-bottom: 1px solid;
}

.btn-language {
  padding: 0px 30px 0px 5px;
  height: 25px;
  border-color: #434343;
}

.d-flex {
  display: flex;
}

.m-auto {
  margin: auto;
}


.ant-breadcrumb>span:last-child a {
  color: rgba(0, 0, 0, 0.45);
}

.full-width {
  width: 100%;
}

.vertical-align-top {
  vertical-align: top;
}

.hover-underline:hover {
  text-decoration: underline;
}

a {
  color: #000;
}

.ml-primary {
  margin-left: 15px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.p-10 {
  padding: 10px;
}

.p-5 {
  padding: 5px;
}

.mb-primary {
  margin-bottom: 15px;
}

.mb-secondary {
  margin-bottom: 5px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.border-default {
  border: 1px solid;
}

.border-bottom-primary {
  border-bottom: 1px dashed;
}

.border-bottom-default {
  border-bottom: 1px solid;
}

.border-bottom-secondary {
  border-bottom: 1px solid #a6a6a6;
}

.border-right-default {
  border-right: 1px solid #d3d3d3;
}

.bb-0 {
  border-bottom: 0 !important;
}

.f-small {
  font-size: 12px;
}

.f-medium {
  font-size: 16px;
}

.bg-primary {
  background-color: rgb(204, 255, 255);
}

.bg-secondary {
  background-color: rgb(235, 241, 222);
}

.bg-dancer {
  background-color: rgb(252, 213, 180);
}

.bg-alert {
  background-color: rgb(253, 233, 217);
}

.white-space {
  padding: 25px 0;
}

.color-primary {
  color: #e26b0a;
}

.color-secondary {
  color: #3333ff !important;
}

.f20 {
  font-size: 20px;
}

.ant-input-number-input {
  height: 20px;
}

.loading::after {
  /* content: url('./assets/images/loading.gif'); */
  content: '';
  background-image: url('./loading.gif');
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.loading::before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(247, 247, 247, .9);
}

.line-primary {
  height: 1px;
  background-color: #3333ff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.line-default {
  height: 1px;
  background-color: #434343;
  margin-top: 15px;
  margin-bottom: 15px;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-custom-primary {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 100px;
}

.border-default-search {
  border: 1px solid white;
}

.label-search-ui {
  background-color: #E5E4E2;
  padding-left: 5px;
  padding-top: 5px;
  border-right: 1px solid white;
}

.table-parent {
  width: 100%;
}

.required::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ebebeb;
}

.wrap-login {
  /* width: 560px; */
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.login-form-title {
  font-family: Raleway-Medium;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
}

.wrap-login .alert.alert-danger {
  border-left: 4px solid #d9534f !important;
}

.wrap-login .alert {
  background-color: #f9f9f9 !important;
  border: 0;
  padding: .8em 1.2em;
  color: #758e9f !important;
  margin-bottom: 10px;
}

.txt1 {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
}

.wrap-login .input .ant-form-item-control-input-content {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.input100 {
  font-family: Raleway-Medium;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 40px;
  padding: 0 25px 0 25px;
}

input {
  outline: none;
  border: none;
}

.p-r-85 {
  padding-right: 85px;
}

.p-l-85 {
  padding-left: 85px;
}

.p-b-55 {
  padding-bottom: 55px;
}

.p-t-55 {
  padding-top: 55px;
}


.p-b-32 {
  padding-bottom: 32px;
}


.p-b-11 {
  padding-bottom: 11px;
}


.m-b-36 {
  margin-bottom: 36px;
}


:root {
  --container-max-width: 90%;
  --container-width: 1000px;
  --background-color: #16bcb5;
}

.btn {
  background: var(--background-color);
  padding: 0 10px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #57b846;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.w-full {
  width: 100%;
}

.p-b-48 {
  padding-bottom: 48px;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 55px;
  background-color: var(--background-color);
  /* border-radius: 27px; */
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.App>.container {
  padding-bottom: 50px;
  ;
}

.container {
  max-width: var(--container-max-width);
  width: var(--container-width);
  margin: 0 auto;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  /* Height of the footer */
  background: #232c3b;
}

.footer p {
  padding: 9px 0;
  color: white;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background: var(--background-color) !important;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn,
.topnav span:hover {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-collapse {
  display: flex;
}

.navbar-collapse .ant-select-selector {
  background-color: var(--background-color) !important;
}

@media screen and (max-width: 600px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn,
  .navbar-collapse {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a,
  .topnav.responsive .navbar-collapse {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.page-title {
  padding: 2px 10px 10px 10px;
  border-radius: 0px 0px 20px 20px;
  background: var(--background-color);
  color: white;
}

.wrap-border {
  border: 1px solid #dbdbdb;
  margin-top: 50px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* Search screen */
.search-criteria {
  border: 1px solid #dbdbdb;
  margin-top: 50px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  margin-bottom: 20px;
}

.search-criteria .criteria-label {
  top: -15px;
  border: 1px solid #dbdbdb;
  position: absolute;
  background: white;
  padding: 3px 10px;
}

.search-criteria table {
  width: 100%;
}

.search-criteria .btn {
  width: 46%;
  background: var(--background-color);
  margin-top: 5px;
  color: white;
}

.search-criteria .btn-search {
  margin-right: 1%;
}

.search-criteria .btn-reset {
  margin-left: 1%;
}

.search-criteria td:nth-child(2),
.search-criteria td:nth-child(5) {
  width: 28%;
}

.search-criteria td:nth-child(1),
.search-criteria td:nth-child(4) {
  width: 20%;
}

.search-criteria td:nth-child(3) {
  width: 4%;
}

.search-criteria .ant-form-item {
  margin-bottom: 0px;
}

.search-result table th {
  background: var(--background-color);
  color: white;
  padding: 10px 0px;
}

.btn-create {
  width: 120px;
  background: var(--background-color);
  margin-top: 5px;
  color: white;
}